    <section class="testimonials text-center text-white">
      <div class="container" style="margin-top:60px;">
        <h1 class="mb-5">덕성여대 7기 운영진</h1>
        <p class="small text-muted">2019년 멋사7기 운영진입니다.</p>
        <div class="row">

          <div class="col-md-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="/img/yuhuyn_2019.jpg" alt="">
              <h4>[대표] 전유현</h4>
              <p><b>컴퓨터 공학과</b></p>
              <p class="font-weight-light mb-0">"1년동안 열심히 하겠습니다! 내가 바로 코딩왕 :)"</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="/img/yurim.jpg" alt="">
              <h4>고유림</h4>
              <p><b>컴퓨터 공학과</b></p>
              <p class="font-weight-light mb-0">"즐거운 1년을 보내봅시다!"</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="/img/juhee_2019.jpg" alt="">
              <h4>민주희</h4>
              <p><b>컴퓨터 공학과</b></p>
              <p class="font-weight-light mb-0">"부족한 만큼 노력해서 후회없는 1년이 되도록 하겠습니다!"</p>
            </div>
          </div>

           <div class="col-md-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0" style="padding-top: 12%">
              <img class="img-fluid rounded-circle mb-3" src="/img/jiyeon_2019.jpg" alt="">
              <h4>백지연</h4>
              <p><b>컴퓨터 공학과</b></p>
              <p class="font-weight-light mb-0">"'멋사하길 참 잘 했다~' 하는 한 해가 되도록 노력하겠습니다. 화이팅!"</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0"  style="padding-top: 12%">
              <img class="img-fluid rounded-circle mb-3" style=" width:200px; height: 200px;" src="/img/heyoung_2019.jpg" alt="">
              <h4>조혜영</h4>
              <p><b>IT미디어공학과</b></p>
              <p class="font-weight-light mb-0">"2019년은 멋사와 함께~"</p>
            </div>
           </div>

          </div>

          </div>
    </section>
    <center><a id="more" href="#before">More</a></center>
    <br><br><hr>
    <section id="before" class="testimonials text-center text-white">
      <div class="container" style="margin-top:60px;">
        <h1 class="mb-5">덕성여대 6기 운영진</h1>
        <p class="small text-muted">2018년 멋사6기 명예의 전당</p>
        <div class="row">

          <div class="col-md-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="/img/yurim.jpg" alt="">
              <h4>[대표] 고유림</h4>
              <p class="font-weight-light mb-0">"흠 긁적 열심히 합시다."</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="/img/minji.jpg" alt="">
              <h4>김민지</h4>
              <p class="font-weight-light mb-0">"멋사 쥬아^ㅁ^"</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="/img/hyesun.jpg" alt="">
              <h4>양혜선</h4>
              <p class="font-weight-light mb-0">"열정이 가득한 덕대 멋사~~~!"</p>
            </div>
          </div>

           <div class="col-md-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0" style="padding-top: 12%">
              <img class="img-fluid rounded-circle mb-3" src="/img/hyeyoung.jpg" alt="">
              <h4>조혜영</h4>
              <p class="font-weight-light mb-0">"즐겁게 해보아요♬"</p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0"  style="padding-top: 12%">
              <img class="img-fluid rounded-circle mb-3" src="/img/jiyeoun.jpg" alt="">
              <h4>백지연</h4>
              <p class="font-weight-light mb-0">"♥어흥♥"</p>
            </div>
           </div>

           <div class="col-md-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0"  style="padding-top: 12%">
              <img class="img-fluid rounded-circle mb-3" src="/img/yuhuyn.jpg" alt="">
              <h4>전유현</h4>
              <p class="font-weight-light mb-0">"여러분 코딩은 재밌습니당 :)"</p>
            </div>
          </div>

          </div>
          <hr>
          <div class="container">

          <h1 class="mb-5" style="padding-top:5%" >6기 <em>아기사자</em>를 소개합니다!</h1>

          <div class="row" style="padding-top:1%">
            <p class="col-md-4">컴퓨터학과 <b>강연우</b></p>
            <p class="col-md-4">컴퓨터학과 <b>김보미</b></p>
            <p class="col-md-4">아동가족학과 <b>민주희</b></p>
            <p class="col-md-4">컴퓨터학과 <b>박은혜</b></p>
            <p class="col-md-4">정보통계학과 <b>서유진</b></p>
            <p class="col-md-4">수학과 <b>손은주</b></p>
            <p class="col-md-4">IT미디어공학과 <b>손한비</b></p>
            <p class="col-md-4">IT미디어공학과 <b>신정아</b></p>
            <p class="col-md-4">수학과 <b>이예랑</b></p>
            <p class="col-md-4">문헌정보학과 <b>이예지</b></p>
            <p class="col-md-4">컴퓨터학과 <b>최다연</b></p>
            <p class="col-md-4">화학과 <b>한채윤</b></p>
          </div>
        </div>
      </div>

        </div>
      </div>

    </section>
