<div class="ko">
  <header class="masthead">
    <div class=intro-body>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <h1 class="brand-text"><strong class="main-text">멋쟁이 사자처럼 x <span class="duksung main-text-red">덕성여자대학교</span></strong></h1>
            <p class="intro-text main-text">내 아이디어를 내 손으로 실현한다.
            <br>덕성 학우분들이 자신만의 IT서비스를 직접 런칭한다.</p><br>
            <a href="#about" class="btn btn-circle js-scroll-trigger">
              <i class="fa fa-angle-double-down animated">≫</i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- About Section -->
  <section id="about" class="content-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="duksung title-size main-text-red">About Likelion</h2>
          <p>안녕하세요. 덕성여대 멋쟁이 사자처럼입니다.
          <br>저희 동아리는 자신만의 IT서비스를 만들고 싶은 덕성 학우분들을 위해서
          <br>웹 프로그래밍 기초부터 교육을 하고
          <br>이를 바탕으로 직접 런칭할 수 있도록 도와주는 동아리입니다.</p><br>
          <a href="#download" class="btn btn-circle js-scroll-trigger">
            <i class="fa fa-angle-double-down animated">≫</i>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- Activity Section -->
  <section id="download" class="download-section content-section text-center">
    <div class="container">
      <h2 class="duksung title-size main-text-red">Activity</h2>
      <div class="row">
        <div class="col-lg-4 mx-auto">
          <img src="assets/education.png" alt="교육">
          <h4 class="title-padding mini-title">[ 교육 ]</h4>
          <p class="activity-text">HTML/CSS/JS/Responsive Web Design<br>/Python/Django<br>웹 프로그래밍 언어를<br>기초부터 교육합니다.</p>
        </div>
        <div class="col-lg-4 mx-auto">
          <img src="assets/study.png" alt="스터디">
          <h4 class="title-padding mini-title">[ 스터디 ]</h4>
          <p class="activity-text">매주 학교 내 팀별로<br>온라인/오프라인 세션에 대해<br>스터디를 진행합니다.</p>
        </div>
        <div class="col-lg-4 mx-auto">
          <img src="assets/hackathon.png" alt="해커톤">
          <h4 class="title-padding mini-title">[ 해커톤/아이디어톤 ]</h4>
          <p class="activity-text">다른 학교들과 함께<br>팀을 이루어<br>IT서비스를 개발합니다.</p>
        </div>
        <div class="col-lg-4 mx-auto">
          <img src="assets/party.png" alt="친목">
          <h4 class="title-padding mini-title">[ 친목 ]</h4>
          <p class="activity-text">연합 MT 및 이벤트를 통해<br>덕성여대뿐만 아니라 다른 학교와의 <br>친목을 다질 수 있습니다.</p>
        </div>
      </div>
    </div>
  </section>
</div>
