@font-face { 
    font-family: 'YiSunShinDotumM'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
    
}
@font-face { 
    font-family: 'Arita-dotum-Medium'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
    
}

* {
    font-family: 'Arita-dotum-Medium'; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'YiSunShinDotumM'; 
}