body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.cancelbtn {
    padding: 14px 20px;
    background-color:  #8B0000;
}

.cancelbtn, .signupbtn_btn_btn--form {
  float: center;
  width: 15%;
}

@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
       width: 100%;
    }
}